.detail {
    margin: .8rem;
    color: antiquewhite;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.detail .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    border-radius: .3rem;
    background-color: #282828;
    font-size: 1rem;
    width: 20rem;
}

.detail .icon-back {
    position: fixed;
    left: 1rem;
    top: 5rem;
    font-size: 2rem;
    color: #84dd5e;
}

.detail .icon-back:hover {
    left: .95rem;
    top: 4.95rem;
}

.detail .icon-back:active {
    left: 1rem;
    top: 5rem;
}

.detail .image {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    width: 20rem;
}

.detail .fake-image {
    height: .5rem;
}

.detail .detail-info {
    margin: 1rem;
}

.detail .release-date {
    margin-top: .3rem;
    font-size: .6rem;
    color: #bceca9;
}
