@font-face {
  font-family: 'Roboto';
  src: url('./assets/Roboto/Roboto-Light.ttf')  format('truetype')
}
html {
  width: 100%;
  height: 100vh;
  font-size: 1.0em;
  font-family: 'Roboto';
}

body {
  margin: 0;
  height: 100vh;
  background-color: #222;
  color: #84dd5e;
}