div.app-header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    padding: .5rem 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    background-color: #282828;
    left: 0;
    right: 0;
    z-index: 99;
}

div.app-header .brand {
    display: flex;
    align-items: center;
}

div.app-header .icon-brand {
    font-size: 3rem;
}

div.app-header .icon-search {
    font-size: 1rem;
    border-radius: .2rem;
    padding: .2rem .5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.72);
    border-color: #84dd5e;
    background-color: #333;
}

div.app-header .icon-search:hover {
    background-color: #444;
}

div.app-header .icon-search:active {
    background-color: #444;
    position: relative;
    left: .05rem;
    top: .05rem;
}

div.app-header .spacer {
    margin-left: .8rem;
}

div.app-header .search {
    display: flex;
    align-items: center;
}

div.app-header input {
    border-radius: 2rem;
    height: 1.5rem;
    width: 15rem;
    border-style: unset;
    background-color: antiquewhite;
    font-size: 1rem;
    padding: 0 .8rem;
    outline: none;
}